template(name='game')
  .panel.panel-default
    .panel-heading Oesh oesh oesh !
    .panel-body
      .row
        .col-xs-6
          .panel.panel-default
            .panel-heading Oesh oesh oesh !
            .panel-body
              h1 some cool things here
              hr
              h1 oesh
        .col-xs-6
          .panel.panel-default
            .panel-heading Oesh oesh oesh !
            .panel-body
              h1 some cool things here
              hr
              h1 oesh