template(name='calendar')
	.form-group
		.row
			.col-xs-6
				.input-group
					span.input-group-addon#addevent +  
					input.form-control(type='text' placeholder='add a new event')#addeventtext
		.row
			each days
				div(class='col-xs-{{size}}')
					h3 #{label}


